html {
    position: relative;
}
body {
    margin-bottom: 120px; margin-top: 30px;
}
.jumbotron img {
    width: 150px; border: 5px solid #333;height: 170px;
}
 hr {
    width: 250px; border-top: 3px solid #999;
}
section {
    min-height: 600px;
}
.portfolio {
    background-color: #eee;
}
.contact {
    min-height: 800px;
}

footer {
    position: absolute; width: 100%; bottom: 0px; height: 120px; background-color: #333; padding-top: 30px;
}
footer p {
    color: #aaa; font-size: 0,9em;
}
footer p i {
    color: salmon;
}